{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.github.purejavacomm/purejavacomm {:mvn/version "1.0.2.RELEASE"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :git/sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
                  :exec-fn cognitect.test-runner.api/test}}}
