{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.github.purejavacomm/purejavacomm {:mvn/version "1.0.2.RELEASE"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :git/sha "4e7e1c0dfd5291fa2134df052443dc29695d8cbe"}}
                  :exec-fn cognitect.test-runner.api/test}}}
